.bg-light {
    --bs-bg-opacity: 0
}

.card a {
    text-decoration: none;
    color: inherit;
}

.card-header {
border: 0px;
}


.card-img {
    object-fit: cover !important;
}

svg {
    transform: scale(0.85);
    margin-top: -0.1rem;
}

a.button, button {
    align-items: flex-start;
    line-height: 1.1;
    gap: 0.18rem;
}

.card body{
    padding-bottom: .6rem;
    padding-top: .7rem;
}

.card-title {
    opacity: .9;
    font-weight: 500;
    /* font-size: .8rem; */
    padding: .5rem 1.2rem;
    padding-bottom: 0rem ;
    margin-bottom: 0rem;

    /* border-bottom-color: #ddd;
    border-bottom-width: 1px;
    border-bottom-style: solid; */
}


