.bg-light {
    --bs-bg-opacity: 0
}

.card a {
    text-decoration: none;
    color: inherit;
}

.card-header {
border: 0px;
}


.card-img {
    object-fit: cover !important;
}

svg {
    transform: scale(0.85);
    margin-top: -0.1rem;
}

a.button, button {
    align-items: flex-start;
    line-height: 1.1;
    gap: 0.18rem;
}

.card body{
    padding-bottom: .6rem;
    padding-top: .7rem;
}

.card-body{
    padding-bottom: 0rem;
    padding-top: 0.8rem;
}

.card-title {
    opacity: .9;
    font-weight: 500;
    /* font-size: .8rem; */
    padding: .5rem 1.2rem;
    padding-bottom: 0rem ;
    margin-bottom: 0rem;
	font-weight: 450;
	font-size: 0.92rem;
    /* border-bottom-color: #ddd;
    border-bottom-width: 1px;
    border-bottom-style: solid; */
}


#quarto-document-content {
    margin-top: -0.5rem;
}

@media (max-width: 991px){
    #quarto-document-content {
        margin-top: 0rem;
    }
}

#see-all-categories{
    padding-bottom: 0.3rem;
}


/* Changes the width of contents
This is the guys that does the trick: calc( 950px - 3em )) <-- 950px increases width 
Start of the Sidebar-margin: [body-end-outset] minmax(10px, 30px) <-- 30px makes the sidebar larger*/   
@media (min-width: 992px) {
    body.floating .page-columns {
        display: grid;
        gap: 0;
        grid-template-columns: [screen-start] 1.5em [screen-start-inset] 5fr [page-start] minmax(5px, 10px) [page-start-inset] minmax(10px, 30px) [body-start-outset] minmax(5px, 10px) [body-start] 1.5em [body-content-start] minmax(500px, calc( 950px - 3em )) [body-content-end] 1.5em [body-end] minmax(5px, 10px) [body-end-outset] minmax(10px, 30px) [page-end-inset] minmax(5px, 10px) [page-end] 5fr [screen-end-inset] 1.5em [screen-end];
    }
}


/* Hides the sidebar and margin bar when it reaches 991px window width */
@media (max-width: 991.98px){
    body .page-columns, body.fullcontent:not(.floating):not(.docked) .page-columns, body.slimcontent:not(.floating):not(.docked) .page-columns, body.docked .page-columns, body.docked.slimcontent .page-columns, body.docked.fullcontent .page-columns, body.floating .page-columns, body.floating.slimcontent .page-columns, body.floating.fullcontent .page-columns {
        display: grid;
        gap: 0;
        grid-template-columns: [screen-start] 1.5em [screen-start-inset page-start page-start-inset body-start-outset body-start body-content-start] minmax(0px, 1fr) [body-content-end body-end body-end-outset page-end-inset page-end screen-end-inset] 1.5em [screen-end];
    }
}

.listing-category-inactive {
    border: transparent;
    padding-right: 0rem;
    /* text-transform: capitalize;
    font-size: 0.6em; */
}


