// Start here

ul.c-gridview {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    list-style: none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

ul.c-gridview {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    list-style: none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}


ul.c-gridview li {
    width: 25%;
    padding: 0 10px;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 20px;
    display: list-item;
    text-align: inherit;
}


ul.c-gridview a img {
    width: 100%;
    margin-bottom: 10px;
    transition: all .1s ease-out;
}

@media (max-width: 992px){
    ul.c-gridview li {
        width: 33%;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

ul.c-gridview li a small {
    display: block;
    color: #878e97;
}

.o-wrap--size-700 {
    max-width: 992px;
}