/* Alterign the DEFAULT Category listing */
div.quarto-post .metadata {
	font-size: 1em;
	flex-basis: 13%
} 

.disable_blog_link_decoration a {
	text-decoration: none;
} 


.table>:not(:first-child) {
    border-top: none;
}

.listing-categories{
	cursor: pointer;
}

.table-fixed {
	table-layout: fixed;
 }

h3 {
	margin-bottom: 1rem;
}


.callout-tip{
	margin-top: 0rem;
}

/* Shows the anchor link */
.show-anchor-link .anchorjs-link {
    opacity: 1;
	/* pointer-events: none; */
}


/* Disable the lines of the table */
.table>:not(caption)>*:not(:last-child)>* {
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 0px;
}

/* Gives new padding top bottom to each row */
.table>:not(caption)>*>* {
    padding-bottom: 6px;
    padding-top: 6px;
}

/* Removes padding-top */
.h3-margins{
	margin-top: 0.8em;
	margin-bottom: 0.9em;
}