/* Disables only DANILO TOAPANTA when opening
new post from BLOG section */
@media (min-width: 570px){
    .navbar-brand-container {
        display: none;
    }
}

@media (min-width: 992px) {
    body.floating .page-columns {
        display: grid;
        gap: 0;
        grid-template-columns: [screen-start] 1.5em [screen-start-inset] 5fr [page-start] minmax(25px, 50px) [page-start-inset] minmax(50px, 150px) [body-start-outset] minmax(25px, 50px) [body-start] 1.5em [body-content-start] minmax(500px, calc( 750px - 3em )) [body-content-end] 1.5em [body-end] minmax(25px, 50px) [body-end-outset] minmax(50px, 150px) [page-end-inset] minmax(25px, 50px) [page-end] 5fr [screen-end-inset] 1.5em [screen-end] !important;
    }
}

/* Creates three colums for the dates in the post */
#title-block-header.quarto-title-block.default .quarto-title-meta {
    grid-template-columns: repeat(3, 1fr);
}

/* Change the font weight of title */
h1, .h1 {
    font-weight: 500;
}

/* Adjust Gap of LINKS in posts */
.gap-1 {
    gap: 0.35rem !important;
}


.callout {
    margin-top: 0rem;
}