/* Disables only DANILO TOAPANTA when opening
new post from BLOG section */
@media (min-width: 570px){
    .navbar-brand-container {
        display: none;
    }

    .navbar-collapse:not(.show) {
        padding: 7px 0px;
    }
}


@media (min-width: 992px) {
    body.floating .page-columns {
        display: grid;
        gap: 0;
        grid-template-columns: [screen-start] 1.5em [screen-start-inset] 5fr [page-start] minmax(25px, 50px) [page-start-inset] minmax(50px, 150px) [body-start-outset] minmax(25px, 50px) [body-start] 1.5em [body-content-start] minmax(500px, calc( 750px - 3em )) [body-content-end] 1.5em [body-end] minmax(25px, 50px) [body-end-outset] minmax(50px, 150px) [page-end-inset] minmax(25px, 50px) [page-end] 5fr [screen-end-inset] 1.5em [screen-end] !important;
    }
}

/* Creates three colums for the dates in the post */
/* #title-block-header.quarto-title-block.default .quarto-title-meta {
    grid-template-columns: repeat(3, 1fr);
} */

/* Change the font weight of title */
h1, .h1 {
    font-weight: 500;
}

/* Adjust Gap of LINKS in posts */
.gap-1 {
    gap: 0.35rem !important;
}

/* Remove top padding from callouts */
.callout {
    margin-top: 0rem;
}

@media (min-width: 570px){
    /* Gives padding to all main body content */
    #quarto-content>* {
        padding-top: 28px;
    }
}

/* .tags-icon {
    color: #000000 !important;
    background-color: transparent !important;
    border: none !important;
} */


.quarto-title .quarto-categories {
    display: inline-flex;
}

.quarto-category.tags-title {
    /* padding: 0.5em 5px !important; */
    /* font-size: .67em !important; */
}

/* Hides all elements after TAGS delimiter */
div#TAGS ~ * {
    display: none;
}

div#TAGS-from-here ~ * {
    display: inline !important;
}

div#All{
    display: none;
}

/* Erase padding of BLOG title */
/* .quarto-title h1.title {
    padding-bottom: 0px !important;
} */


/* This is to insert YOU ARE READING DANILOS BLOG */
.material-icons-outlined {
    font-size: 13px !important;
    vertical-align: text-bottom;
}

/* This is to insert YOU ARE READING DANILOS BLOG */
.quick-links-title{
    padding-top: 13px;
}

/* Controls the padding between AUTHOR and QUICK LINKS */
#title-block-header.quarto-title-block.default .quarto-title-meta-heading {
    /* margin-top: 0.3em !important; */
    margin-top: 1em !important;
}

/* Controls top margin CATEGORIES */
.quarto-title .quarto-categories {
    /* margin-top: .75em !important;  */
     margin-top: 1em !important; 
     padding-right: 2.5px;
}

.quarto-categories.tag-categories {
    margin-top: 5px !important;
}

.number-grey{
    color:#5a6570;
}

@media (min-width: 570px){
    /* This is to display none mysite when reading a blog */
    .mysite-change {
        display: none;
    }

    /* This is to change opacity of DANILO TOPANTA reading a blog */
    .navbar-brand-change {
        opacity: 0.1 !important;
        font-weight: 400;
    }
    
    /* Disables clicking on DANILO TOAPANTA when reading a blog post */
    .disablePointerEvents{
        pointer-events: none;
        font-size: 100% !important;
        padding-top: 7px !important;
        padding-right: 17px !important;
        padding-bottom: 0px !important;
    }

    /* Makes a long grey line instead of Danilo Toapanta */
    .navbar-brand-container-new-padding {
        padding: 3px 0px;
    }
}

/* Center back again the COMING SOON because of custom title-block.html */
#main_404 {
    top: 55%;
}

/* Disable h2 margin top */
.no-margin-top{
    margin-top: 0px;
}

/* Disables bottom border line in h2 title  */

h2, .h2 {
border-bottom: none;
}

/* Hides the Other formats */
.quarto-alternate-formats {
    display: none;
}

/* Style the code */
.code-with-filename .code-with-filename-file, .code-with-filename .code-with-filename-file pre {
    background-color: rgba(219,219,219,.8);
}

.code-with-filename .code-with-filename-file {
    margin-bottom: 0;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: .7em;
    border: var(--quarto-border-width) solid var(--quarto-border-color);
    border-radius: var(--quarto-border-radius);
    border-bottom: 0;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

/* Hides the videos from all posts */
video.display-no-video.img-fluid {
    display: none;
}